
@media screen and  (min-width: 768px) {
  .social-icons {
    width: 100%;
    display:flex;
    gap: 1.5rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top:3rem;
  }

  .social-icons li a {
    color: var(--color-primary);
    font-size: 1.2rem;
  }

  .social-icons li a:hover {
    color: var(--gray-primary);
    
  }
}

@media screen and  (min-width: 1350px) {

  .social-icons {
    margin-top: 5rem;
  }
  .social-icons li a {
    color: var(--gray-primary);
    font-size: 2rem;
  }

  .social-icons li a:hover {
    color: white;
    
  }
}